<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaizone.songmaya.woo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="kaizone.songmaya.woo.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kaizone.songmaya.woo.ItemListActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="kaizone.songmaya.woo.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="kaizone.songmaya.woo.ContainerActivity"
            android:label="@string/title_item_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="kaizone.songmaya.woo.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="kaizone.songmaya.woo.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kaizone.songmaya.woo.ItemListActivity" />
        </activity>

        <receiver android:name=".util.Downloader$DownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- talkingdata -->
        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="TD_APP_ID"
            android:value="9593BF1710794779B3AEC46C1D33D632" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID}" />
    </application>

</manifest>